<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="static/style_get_users.css">
    <style>

      </style>
</head>
<body>
    <script type="module">
        
        import { app,auth,db  } from './static/firebase.js';
        import { collection, getDocs, query, where } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-firestore.js";

    </script>
    <h1>Lista de Itens</h1>
    <table id="users-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody id="users-body"></tbody>
    </table>
    <form id="cadastrarIten">
       <label for="cadastrar">Cadastrar:</label>
       <input type="text" id="cadastrar" name="cadastrar">
       <button type="submit" onclick="window.location.reload();" >Cadastrar</button><br><br>
    </form>
    <form>
        <h1>Pesquisa de Itens</h1>
        <input type="text" id="barraPesquisa" placeholder="Digite o nome do item" oninput="pesquisarItens()" />
        <div id="resultado"></div>
    </form>

        <div id="resultado"></div>
  
    <p><a href="http://127.0.0.1:5000/">Voltar ao login</a></p>

    <p><a href="http://127.0.0.1:5000/alterar">alterar item</a></p>

    <script src="static/scripts_get_users.js"></script>

</body>
</html>
